.page-users {
    &-content-wrapper-conteiner {
      width: 100%;
      &-top {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 2.5rem;
          &-search {
              width: calc(100% - 60px);
              margin-right: 1rem;
              border-radius: 4px;
              background-color: $gray5;
              padding: 0.9rem;
              &-field {
                  border-radius: 4px;
                  display: flex;
                  &-icon {
                      background: url(../../img/search.svg);
                      width: 20px;
                      height: 20px;
                      margin-right: 0.6rem;
                  }
                  &-input {
                      width: 80%;
                      padding: 0.1rem;
                      background-color:$gray5;
                      border: none;
                      font-style: normal;
                      font-size: 16px;
                      line-height: 100%;
                      color: $gray2;                               
                  }
              }
          }
          &-filtercontaiber {
                display: contents;
                &-makefilter {
                    width: 52px;
                    background-color: $gray5;
                    border-radius: 4px;
                    padding: 0.9rem;
                    &-field {
                        border-radius: 4px;
                        display: flex;
                        &-icon {
                            background: url(../../img/settings.svg) no-repeat;
                            width: 20px;
                            height: 20px;
                            margin-left:2px;
                            margin-top:0.1rem;
                        }
                        &-text {
                            padding: 4px 0 0px 6px;
                            font-style: normal;
                            font-size: 16px;
                            line-height: 100%;
                            color: $gray2;                            
                        }
                    }
                }
                &-tag {
                margin-right: 1rem;
                width: 25%;
                background-color: $gray5;
                border-radius: 4px;
                padding: 0.9rem;
                &-field {
                    border-radius: 4px;
                    display: flex;
                    &-icon {
                        background: url(../../img/list-marker.svg) no-repeat center;
                        width: 20px;
                        height: 20px;
                        margin-left:2px;
                        margin-top:0.1rem;
                    }
                    &-text {
                        width: 100%;
                        padding: 4px 0 0px 6px;
                        font-style: normal;
                        font-size: 16px;
                        line-height: 100%;
                        color: $gray2;                            
                    }
                }
            }
            &-cat {
                margin-right: 1rem;
                width: 25%;
                background-color: $gray5;
                border-radius: 4px;
                padding: 0.9rem;
                &-field {
                    border-radius: 4px;
                    display: flex;
                    &-icon {
                        background: url(../../img/list-marker.svg) no-repeat center;
                        width: 20px;
                        height: 20px;
                        margin-left:2px;
                        margin-top:0.1rem;
                    }
                    &-text {
                        width: 100%;
                        padding: 4px 0 0px 6px;
                        font-style: normal;
                        font-size: 16px;
                        line-height: 100%;
                        color: $gray2;                            
                    }
                }
            }
          }
      }
      &-grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 20px;
      }
      &-row :nth-child(2) {
          margin: 0 1.25rem;
          margin-bottom: 3.8rem;
      }
      &-row {
          display: flex;
          justify-content: space-between;
          &-col :nth-child(2) {
              margin: 0;
          }
          &-col {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
              background-color: $white;
              border-radius: 4px;
              margin-bottom: 3.8rem;
              &-imgconteiner {
                  width: 100%;
                  border-radius: 4px;
                  &-img {
                      border-radius: 4px 4px 0px 0px;
                      width: 100%;
                      height: 10rem;
                      object-fit: cover;
                  }
                  //
                  
              }
              &-inside {
                  margin: 0 0 0 0;
                  padding: 0 1.25rem 1.25rem;
                  letter-spacing: -0.02em;
                  &__h4 {
                      font-style: normal;
                      font-weight: bold;
                      font-size: 18px;
                      line-height: 100%;
                      color: $gray1;
                      padding: 1rem 0rem;
                  }
                  &-description {
                      margin: 0 0 0 0;
                      font-size: 14px;
                      font-style: normal;
                      line-height: 140%;
                      color: $gray2;
                  }
              }
          }
          &-download {
              display: flex;
              justify-content: center;
              margin-top: 4rem;
              &-btn {
                  text-decoration: none;
                  padding: 1.475rem 3rem;
                  background-color: $green;
                  border-radius: 6px;
                  text-align: center;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 20px;
                  line-height: 24px;
                  color: $green-dark;
              }
          }
      }
    }

  &-section {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background: $white;

      &--gray {
          background: $gray6;
      }

      &__title {
          color: $gray4;
          font-weight: 500;
          font-size: 1.5rem;
      }

      &__subtitle {
          width: 80%;
          color: $gray1;
          font-weight: 700;
          font-size: 3rem;
          margin-bottom: 3rem;
      }
  }
  &-contributors {
    &-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        &-col {
            max-width: 50%;
            width: 100%;

            &+& {
                margin-left: 1rem;
            }
        }
    }

    &-item {
        padding: 1.8rem;
        background: $white;
        margin-bottom: 1rem;

        &-stack {
            &__title {
                color: $gray4;
                margin-bottom: 4px;
            }

            &__value {
                line-height: 1.5rem;
            }
        }

        &-info {
            &__wrapper {
                display: flex;
                margin-bottom: 2rem;
                align-items: center;
            }

            &__avatar {
                margin-right: 1.8rem;
                width: 4rem;
                height: 4rem;
            }

            &__name {
                color: $gray1;
                font-size: 1.5rem;
                font-weight: 700;
            }

            &__status {
                color: $gray3;
                margin-top: 4px;

                &--owner {
                    color: $green;
                    &::before {
                        content: '';
                        display: inline-block;
                        margin-right: 0.3rem;
                        background: url('../img/cont_owner.svg') center center no-repeat;
                        width: 1rem;
                        height: 1rem;
                        background-size: contain;
                    }
                }

                &--sponsor {
                    color: $orange;
                    &::before {
                        content: '';
                        display: inline-block;
                        margin-right: 0.3rem;
                        background: url('../img/cont_sponsor.svg') center center no-repeat;
                        background-size: contain;
                        width: 1rem;
                        height: 1rem;
                    }
                } 
            }
        }
    }
}
}

@media only screen and (max-width: 1200px) {
  .page-users {
      &-section {
          &__subtitle {
              font-size: 2rem;
              margin-top: 1rem;
          }
      }

      &-contributors {
          &-list {
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              margin-bottom: 1rem;

              &-col {
                  max-width: 100%;

                  &+& {
                      margin-left: 0rem;
                  }
              }
          }

          &-item {
              &-info {
                  &__avatar {
                      width: 3rem;
                      height: 3rem;
                  }
  
                  &__name {
                      font-size: 1.2rem;    
                  }
              }
          }
      }
  }
}

@media only screen and (max-width: 990px) {
  .page-users {

      &-section {
          padding-top: 2rem;
          padding-bottom: 2rem;

          &__subtitle {
              width: 100%;
              font-size: 1.8rem;
          }
      }
  }
}

@media only screen and (max-width: 620px) {
  .page-users {
      &-section {
          &__subtitle {
              font-size: 1.5rem;
          }
      }
      &-content-wrapper-conteiner {
        width: 100%;
        &-top {
            display: block;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 2.5rem;
            &-search {
                width: 100%;
                margin-right: 1rem;
                border-radius: 4px;
                background-color: $gray5;
                padding: 0.9rem;
                &-field {
                    border-radius: 4px;
                    display: flex;
                    &-icon {
                        background: url(../../img/search.svg);
                        width: 20px;
                        height: 20px;
                        margin-right: 0.6rem;
                    }
                    &-input {
                        width: 100%;
                        padding: 0.1rem;
                        background-color:$gray5;
                        border: none;
                        font-style: normal;
                        font-size: 16px;
                        line-height: 100%;
                        color: $gray2;                               
                    }
                }
            }
            &-filtercontaiber {
                  margin-top: 1rem;
                  display: flex;
                  &-makefilter {
                      width: 52px;
                      background-color: $gray5;
                      border-radius: 4px;
                      padding: 0.9rem;
                      &-field {
                          border-radius: 4px;
                          display: flex;
                          &-icon {
                              background: url(../../img/settings.svg) no-repeat;
                              width: 20px;
                              height: 20px;
                              margin-left:2px;
                              margin-top:0.1rem;
                          }
                          &-text {
                              padding: 4px 0 0px 6px;
                              font-style: normal;
                              font-size: 16px;
                              line-height: 100%;
                              color: $gray2;                            
                          }
                      }
                  }
                  &-tag {
                    margin-right: 1rem;
                    width: 50%;
                    background-color: $gray5;
                    border-radius: 4px;
                    padding: 0.9rem;
                    &-field {
                        border-radius: 4px;
                        display: flex;
                        &-icon {
                            background: url(../../img/list-marker.svg) no-repeat center;
                            width: 20px;
                            height: 20px;
                            margin-left:2px;
                            margin-top:0.1rem;
                        }
                        &-text {
                            width: 100%;
                            padding: 4px 0 0px 6px;
                            font-style: normal;
                            font-size: 16px;
                            line-height: 100%;
                            color: $gray2;                            
                      }
                  }
              }
              &-cat {
                  margin-right: 1rem;
                  width: 50%;
                  background-color: $gray5;
                  border-radius: 4px;
                  padding: 0.9rem;
                  &-field {
                      border-radius: 4px;
                      display: flex;
                      &-icon {
                          background: url(../../img/list-marker.svg) no-repeat center;
                          width: 20px;
                          height: 20px;
                          margin-left:2px;
                          margin-top:0.1rem;
                      }
                      &-text {
                          width: 100%;
                          padding: 4px 0 0px 6px;
                          font-style: normal;
                          font-size: 16px;
                          line-height: 100%;
                          color: $gray2;                            
                      }
                  }
              }
            }
        }
            &-download {
                display: flex;
                justify-content: center;
                margin-top: 4rem;
                &-btn {
                    text-decoration: none;
                    padding: 1.475rem 3rem;
                    background-color: $green;
                    border-radius: 6px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: $green-dark;
                }
            }
        }
      }
  }

  @media only screen and (max-width: 400px) {
    .page-users {
        &-section {
            &__subtitle {
                font-size: 1.5rem;
            }
        }
        &-content-wrapper-conteiner {
          width: 100%;
          &-top {
              display: block;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 2.5rem;
              &-search {
                  width: 100%;
                  margin-right: 1rem;
                  border-radius: 4px;
                  background-color: $gray5;
                  padding: 0.9rem;
                  &-field {
                      border-radius: 4px;
                      display: flex;
                      &-icon {
                          background: url(../../img/search.svg);
                          width: 20px;
                          height: 20px;
                          margin-right: 0.6rem;
                      }
                      &-input {
                          width: 100%;
                          padding: 0.1rem;
                          background-color:$gray5;
                          border: none;
                          font-style: normal;
                          font-size: 16px;
                          line-height: 100%;
                          color: $gray2;                               
                      }
                  }
              }
              &-filtercontaiber {
                    margin-top: 1rem;
                    display: flex;
                    &-makefilter {
                        width: 52px;
                        background-color: $gray5;
                        border-radius: 4px;
                        padding: 0.9rem;
                        &-field {
                            border-radius: 4px;
                            display: flex;
                            &-icon {
                                background: url(../../img/settings.svg) no-repeat;
                                width: 20px;
                                height: 20px;
                                margin-left:2px;
                                margin-top:0.1rem;
                            }
                            &-text {
                                padding: 4px 0 0px 6px;
                                font-style: normal;
                                font-size: 16px;
                                line-height: 100%;
                                color: $gray2;                            
                            }
                        }
                    }
                    &-tag {
                      margin-right: 0.2rem;
                      width: 50%;
                      background-color: $gray5;
                      border-radius: 4px;
                      padding: 0.9rem;
                      &-field {
                          border-radius: 4px;
                          display: flex;
                          &-icon {
                              background: url(../../img/list-marker.svg) no-repeat center;
                              width: 20px;
                              height: 20px;
                              margin-left:2px;
                              margin-top:0.1rem;
                          }
                          &-text {
                              width: 100%;
                              padding: 4px 0 0px 6px;
                              font-style: normal;
                              font-size: 16px;
                              line-height: 100%;
                              color: $gray2;                            
                        }
                    }
                }
                &-cat {
                    margin-right: 0.2rem;
                    width: 50%;
                    background-color: $gray5;
                    border-radius: 4px;
                    padding: 0.9rem;
                    &-field {
                        border-radius: 4px;
                        display: flex;
                        &-icon {
                            background: url(../../img/list-marker.svg) no-repeat center;
                            width: 20px;
                            height: 20px;
                            margin-left:2px;
                            margin-top:0.1rem;
                        }
                        &-text {
                            width: 100%;
                            padding: 4px 0 0px 6px;
                            font-style: normal;
                            font-size: 16px;
                            line-height: 100%;
                            color: $gray2;                            
                        }
                    }
                }
              }
          }
              &-download {
                  display: flex;
                  justify-content: center;
                  margin-top: 4rem;
                  &-btn {
                      text-decoration: none;
                      padding: 1.475rem 3rem;
                      background-color: $green;
                      border-radius: 6px;
                      text-align: center;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 20px;
                      line-height: 24px;
                      color: $green-dark;
                  }
              }
          }
        }
    }